.header {
  padding: 45px 0 41px;
  margin: 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 570px) {
  .header {
    margin: 0;
    padding: 28px 27px 31.6px;
  }
}
